* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  position: absolute;
  top: 0;
  width: 100%;
  background: linear-gradient(rgb(236, 8, 8), rgb(177, 14, 14));
  display: flex;
  justify-content: flex-start;
}

.tab {
  color: #fff;
  text-decoration: none;
  padding: 1rem 2rem;
  font-weight: 600;
}

.main-page,
.menu-page {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.main-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0) 44%, rgba(0, 0, 0, 0.5)),
    url("./head-img.jpeg");
  justify-content: center;
}

.headline {
  font-size: 4rem;
  margin: 1rem;
}

.description {
  font-size: 2rem;
  margin: 1rem;
}

.menu-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0.1)),
    url("./menu-img.jpg");
}

.menu-head {
  margin-top: 5rem;
}

.cakes-container {
  /* background: red; */
  width: 55%;
  height: 100%;
  padding: 0 1.2rem;
}

.cake {
  background: rgba(206, 206, 206, 0.8);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  border-radius: 4px;
}

.cake-img {
  width: auto;
  height: 10rem;
}

.cake p,
.cake h2 {
  font-size: 160%;
  color: rgb(66, 33, 10);
}
